body {
    max-width: 650px;
    margin: 40px auto;
    padding: 0 10px;
    font: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 18px;
    color: #444;
  }

h1{
  font-size: 26px;
}

h2{
  font-size:22px;
}

.article-date{
  font-size:16px; /* Makes dates beneath title a little smaller */
}

a:link {
  color: #b8860b; /* Unclicked links */
}
a:visited {
  color: #b8860b; /* Clicked links */
}