@font-face{
  font-family:'Open Sans';
  src:url('fonts/OpenSans-Variablet.ttf');
  font-weight:400;
  font-style: normal;
}

body {
    max-width: 750px;   
    margin: 40px auto;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
    font: size 18px;
    color:#444;
  }

b{
  font-weight:600;
  font-size:16px;
}

h1{
  font-size: 24px;
}

h2{
  font-size:20px;
}

.article-date{
  font-size:16px; /* Makes dates beneath title a little smaller */
}

a:link {
  color: #b8860b; /* Unclicked links */
}
a:visited {
  color: #b8860b; /* Clicked links */
}